* {
  font-family: 'Lato', sans-serif;
}
h2{
  font-size: 15px;
  text-align: center;
}
body{
background: rgb(63, 94, 251);
  background: linear-gradient(133deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  width: 300px;
}
.container > .triangle > form{
  position: relative;
  height: 100px;
  margin-left: 30px;
}
.container > .triangle{
  display: flex;
  flex-direction: column;
}

.container > .triangle > form > input:first-of-type{
  rotate: -35deg;
  position: absolute;
  width: 5cm;
  border-bottom: 3px solid black;
}
button{
      width: 100px;
        border-radius: 20px;
        padding: 10px;
        margin: 20px auto;
        background: linear-gradient(319deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        color: white;
        border: 5px dotted white;
}
.container > .triangle > form > input:nth-child(2){
  rotate: 90deg;
  left: 135px;
  top: 15px;
  position: absolute;
  width: 3cm;
  border-bottom: 3px solid black;
}
.container > .triangle > form > input:nth-child(3){
  position: absolute;
  top: 75px;
  left: 24px;
  width: 4.1cm;
  border-top: 3px solid black;
}
.results > p{
  text-align: center;
  letter-spacing: 13.5px;
    font-weight: bold;
}